alias rly="sudo !!"

alias sha256sum="shasum -a256"

grin() { grep -r -i $1 -n $2 }
alias rack="ack --ruby"

alias fixdns="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist && sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist"
alias fixcamera="sudo killall VDCAssistant"

function upgradecasks() { for cask in `brew cask list`; do brew cask install $cask; done }
function brewyolo() { brew update; brew upgrade --all; upgradecasks }

alias git=hub

who-is-listening() {
    if [ $# -eq 0 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P
    elif [ $# -eq 1 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
    else
        echo "Usage: who-is-listening [pattern]"
    fi
}
